@font-face {
    font-family: 'StrongArmy';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2104@1.1/ROKAMedium.woff') format('woff');
    font-weight: 500;
    font-display: swap;
}

*{margin: 0; padding: 0; list-style: none; text-decoration: none; color: #333; user-select: none;}
body{width: 100dvw; background-color: #F2F8F8; overflow-x: hidden; position: relative;}
/***********PAGE01*/
/* 여기부터 메인타이틀-------------------- */
    .title{width: 100%; height: 93dvh; font-family: 'StrongArmy'; background-image: url(./image/00titleImage.jpg); background-position: center; background-repeat: no-repeat; background-size: cover; background-attachment: fixed;}
    .title>a{display: flex; align-items: center; flex-direction: column; }
    .title>a>div:nth-child(1){font-size: 2.5rem; margin-top: 1rem; color:#F2F8F8;}
    .title>a>div:nth-child(2){color:#F2F8F8;}

        /*모바일*/
        @media(max-width:480px){
            .title>a>div:nth-child(1){font-size: 2rem;}
        }

/* 여기부터 네비-------------------- */
    nav{width: 100%; height: 4rem; background-color: #F2F8F8; display: flex; justify-content: center; align-items: center; position: absolute; top: 100px; z-index: 100;} 
    .menuBox{display: flex; justify-content: center; gap: 10rem; font-size: 1.2rem;}
    .menu{cursor: pointer;}

    /* 햄버거 메뉴 */
    .mobileNav{display: none;}

        /*모바일*/
        @media(max-width:480px){
            nav{display: none;}
            .mobileNav {display: block; height: 4rem; z-index: 100; position: absolute; right: 0; top: 0;}
            .hamburger {font-size: 28px; color: #F7F5F2; cursor: pointer;  position: absolute; right: 1.5rem; top: 0.8rem; z-index: 101;}
            .mobileMenu {transform: translateX(100%); transform-origin: right top; background-color: #333; display: flex; flex-direction: column; width: 20dvh; height: 100dvh; position: absolute; top: 0; right: 0; transition: all 0.3s linear;}
            .mobileMenu.open{transform: translateX(0);}
            .mobileMenu>a {padding: 10px 20px; font-weight: bold; margin: 20px 0; color: #F2F8F8; border-bottom: 1px solid #F2F8F8; width: 50%;}
        }

/* 여기부터 메인페이지-------------------- */
    .container01{width: 100%; display: flex; justify-content: center; margin: 1rem auto;}
    .sec01{width: 100%; display: flex; justify-content: center; gap: 1rem;}

    .container02{width: 15%; height: max-content; background-color: white;}
    .menuBoxSide{margin-top: 2rem; display: flex; gap: 2rem; justify-content: center; align-items: center; flex-direction: column;}
    .lineProfile{height: 0.1rem; width: 80%; background-color: #777;}
    .menuBoxSide>div:nth-child(2){font-family: 'StrongArmy'; font-size: 2rem; text-align: center;}
    .miniProfile{width: 80%;}
    .miniProfile>img{width: 100%; object-fit: cover;}
    .infoProfile{font-size: 0.8rem; text-align: center; padding: 1rem;}
    .menuBoxSide>div:nth-child(10){margin-bottom: 3rem;}
    
        /*모바일*/
        @media(max-width:480px){
            .sec01{flex-direction: column-reverse; align-items: center;}
            .container02{width: 90%; height: max-content;}
        }

    .container03{width: 80%; margin: 0 auto 5rem; column-width: 300px; column-gap: 3rem;}
    .mainImg{position: relative; break-inside: avoid; margin-bottom: 3rem; width: 100%; display: block; overflow: hidden; filter: brightness(0.4); transition: all 0.5s linear; opacity: 0; transform: translateY(1rem);}
    .onMainImg{opacity: 1; transform: translateY(0);}
    .mainImg img{width: 100%; display: block; object-fit: cover;}
    .mainImg:hover{cursor: pointer; transform: scale(1.02); filter: brightness(1.05);}
    .nameCard{width: 100%; background-color: rgba(255,255,255,0.5); position: absolute; top: 0; padding: 0.8rem; opacity: 0; z-index: 1; transition: all 0.3s linear;}
    .mainImg:hover .nameCard{opacity: 1;}

        /*모바일*/
        @media(max-width:480px){
            .container03 {width: 80%; margin: 0 auto 5rem; column-width: 100px; column-gap: 1rem;}
            .mainImg{margin-bottom: 1rem;}
        }

/***********PAGE02-about*/
    .title2{width: 100%; height: 100dvh; font-family: 'StrongArmy'; position: relative;  background-image: url(./image/01titleImage.jpg); background-position: center; background-repeat: no-repeat; background-size: cover;}
    .title2>a{display: flex; align-items: center; flex-direction: column;}
    .title2>a>div:nth-child(1){z-index: 1; font-size: 2.5rem; margin-top: 1rem; color:#F2F8F8;}
    .title2>a>div:nth-child(2){z-index: 1; color:#F2F8F8;}
    .title2>div:nth-child(2){width: 100%; height: 100%; position: absolute; top: 0; left: 0; z-index: 0; background-color: rgba(0,0,0,0.6);}

    .container04{width: 40%; height: 40%; position: absolute; left: 26%; top: 30%; perspective: 2000px; display: flex; justify-content: center; align-items: center;}
    .flipCard{width: 100%; height: 100%; display: flex; justify-content: center; align-items: center; position: relative;}
    .flipCard:hover .aboutBox, .flipCard.touch-active .aboutBox {transform: rotateY(180deg);}
    .aboutBox{position: relative; width: 100%; height: 100%; transition: all 0.8s linear; transform-style: preserve-3d;}
    .flipFront, .flipBack {width: 100%; height: 100%; position: absolute; top: 0; left: 0; display: flex; align-items: center; backface-visibility: hidden; box-sizing: border-box; border-radius: 10px;}
    .flipFront{width: 100%; height: 100%; overflow: hidden; background-color:#F2F8F8; display: flex; flex-direction: column; justify-content: center;}
    .frontImg{width: 90%; height: 40%; overflow: hidden; border-radius: 10px;}
    .frontImg>img{width: 100%; height: 100%; object-fit: cover;}
    .flipFront>div:nth-child(2){padding: 20px 20px; width: 80%; border-bottom: 1px solid #777; border-top: 1px solid #777; margin: 1.5rem 0;}
    .flipBack{transform: rotateY(180deg); background-color: white; padding: 30px; flex-direction: column; gap: 3rem;}
    .flipBack>div:nth-child(2){font-size: 1.8rem; font-family: 'StrongArmy';}
    .aboutIcon{display: flex; justify-content: center; gap: 2rem; margin-top: 0.8rem;}

        /*모바일*/
        @media(max-width:480px){
            .title2>a>div:nth-child(1){font-size: 2rem;}
            .container04{width: 90%; height: 60%; left: 5%; top: 20%;}
            .flipCard:hover .aboutBox {transform: none;}
            .aboutIcon{flex-wrap: wrap;}
        }

/***********PAGE03-photo*/
#slideContainer {height: auto; position: absolute; top: 58%; left: 50%; transform: translate(-50%, -50%); display: flex; justify-content: center; align-items: center; gap: 3.5rem;}
.slideBox {display: flex; flex-direction: column; align-items: center;}
#mainSlide {max-width: 900px; max-height: 700px; border-radius: 5px; box-shadow: 0 0 1rem rgba(0,0,0,0.7); border: 10px solid #F2F8F8; transition: opacity 0.5s ease;}
#prevSlide, #nextSlide {width: 300px; height: auto; cursor: pointer; opacity: 0.4; border-radius: 5px; transition: all 0.3s ease;}
#prevSlide:hover, #nextSlide:hover { opacity: 1 !important; transform: scale(1.05);}
.slideName {text-align: center; background-color: rgba(0,0,0,0.6); width: 200px; margin-top: 10px; color: #F2F8F8; padding: 5px 10px; border-radius: 5px; opacity: 0.6;}

        /*모바일*/
        @media(max-width:480px){
            #slideContainer{flex-direction: column; gap: 1rem; top: 50%;}
            #mainSlide{max-width: 350px; max-height: 400px;}
            #prevSlide, #nextSlide{width: 100px; height: auto;}
            .slideName{font-size: 0.7rem; width: 150px; padding: 2px 5px; background-color: rgba(255,255,255,0.4); color: black;}
        }

/***********PAGE04-contact*/
.contactBox{display: flex; gap: 1rem;}

/***********푸터*/
footer{width: 100%; height: 80px; display: flex; gap: 10px; flex-direction: column; justify-content: center; align-items: center; background-color: #333;}
footer>div{color: #F2F8F8;}

        /*모바일*/
        @media(max-width:480px){
            footer>div{font-size: 0.7rem;}
        }